body {
  background-color: #141218;
}

.v-navigation-drawer__content{
  height: 0;
}

@font-face {
  font-family: "google-sans";
  src: url("./fonts/google-font.woff2") format("woff2");
  font-display: swap;
}

.google-font {
  font-family: "google-sans", Helvetica, Arial, Sans-Serif;
}

:root{
  font-family: "google-sans", Helvetica, Arial, Sans-Serif;
}