body {
  background-color: #141218;
}

.v-navigation-drawer__content{
  height: 0;
}

@font-face {
  font-family: "google-sans";
  src: url("./fonts/google-font.woff2") format("woff2");
  font-display: swap;
}

.google-font {
  font-family: "google-sans", Helvetica, Arial, Sans-Serif;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:root{
  font-family: "google-sans", Helvetica, Arial, Sans-Serif;
  --primary-color : #6750A4;
  --secondary-color : #381E72;
  --tertiary-color : #361F75;
  --quadnary-color : #D0BCFE;
  --quinary-color : #65558F;
  --primary-txt-color: #CAC4D0;
  --primary-bg-color: #4F378A;
  --secondary-bg-color: #141218;
  --tertiary-bg-color: #645784;
  --quadnary-bg-color: #4E348A;
  --secondary-txt-color: #E6E0E9;
  --tertiary-txt-color: #49454F;
  --quadnary-txt-color: #4A4459;
  --primary-border-color: #938F99;
  --primary-chip-color: #E8DEF8;
  --primary-red-color: #F2B8B5;
}